@import "compass/css3";

// VARS
$default-delay: .25s;
$bars: 3;

// MIXINS
// Color Mixin
@mixin stat-bar($color-dark, $color-light, $direction, $dir-webkit) {
  background-image: -webkit-linear-gradient($dir-webkit, $color-light 0%, $color-light 47%, $color-dark 50%, $color-dark 100%);
  background-image: linear-gradient($direction, $color-light 0%, $color-light 47%, $color-dark 50%, $color-dark 100%);
}
// Animation Mixin
@mixin bar-animation($time, $dimension) {
  visibility: hidden;
  @if $dimension == width {
    width: 0;
    -webkit-animation: animate-width;
    -moz-animation: animate-width;
    animation: animate-width;
  }
  @if $dimension == height {
    height: 0;
    -webkit-animation: animate-height;
    -moz-animation: animate-height;
    animation: animate-height;
  }
  animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -webkit-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -moz-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  animation-duration: $time*2;
  -webkit-animation-duration: $time*2;
  -moz-animation-duration: $time*2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

// STYLES
body {
}
.stat-levels {
  float: right;
  box-shadow: inset 0 0 25px rgba(0,0,0,.5);
  max-width: 45%;
  margin: 0 auto;
  height: 100%;
  width: 25%;
  padding: 25px;
  border: 1px solid #494a4e;
  border-radius: 0px 10px 10px 0;
  background: -webkit-linear-gradient(bottom, #444549 0%, #343539 100%);
  background: linear-gradient(#444549 0%, #343539 100%);
}
.stat-bar {
  background-color: #2a2b2f;
  box-shadow: inset 0 5px 15px rgba(0,0,0,.6);
  height: 12px;
  overflow: hidden;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0;
  &:last-child {
    margin-bottom: 0;
  }
}
.stat-bar-rating {
  border-radius: 4px;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  text-indent: -9999px;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.stat-1 {
  > .stat-bar-rating {
    @include stat-bar(#cf3a02, #ff4500, top, bottom);
  }
}
.stat-2 {
  > .stat-bar-rating {
    @include stat-bar(#79a602, #b8f123, top, bottom);
  }
}
.stat-3 {
  > .stat-bar-rating {
    @include stat-bar(#0383a9, #00c5ff, top, bottom);
  }
}
.stat-4 {
  > .stat-bar-rating {
    @include stat-bar(#0383a9, #00c5ff, top, bottom);
  }
}
.stat-5 {
  > .stat-bar-rating {
    @include stat-bar(#0383a9, #00c5ff, top, bottom);
  }
}
// Animation Style
.stat-bar-rating {
  @include bar-animation($default-delay, width);
}
.stat-bar {
  @for $i from 1 through $bars {
    &:nth-of-type(#{$i}) {
      .stat-bar-rating {
        animation-delay: $default-delay*$i;
        -webkit-animation-delay: $default-delay*$i;
      }
    }
  }
}

h20 {
  font-family: 'Courier New';
  font-size: medium;
  color: whitesmoke;
  padding: 2px;
  margin: 0 auto;
}

h21{
  font-family: 'Courier New';
  font-size: medium;
  color: whitesmoke;
  padding: 2px;
}