body {
    background-image: url("../images/game-bg.png");
}

.page-header {
    border-bottom: none;
}

.game-name small {
    display: block;
}

.user-stats hr {
    margin: 10px;
}
.user-stats h5 {
    margin-bottom: 0px;
}

.user-stats .well {
    margin-top: 10px;
    padding: 5px 10px;
}

.user-stats .progress .progress-bar {
    text-align: left;
    padding-left: 5px;
    min-width: 20px;
}

.page-title {
    margin-top: 0px;
}

.logo-container-x {
    width: 50%;
    height: auto;
    margin-top: 10px;
}

.highcharts-yaxis-grid .highcharts-grid-line {
  display: none;
}

.action-box {
    float: left;
    box-shadow: inset 0 0 25px rgba(0,0,0,.5);
    max-width: 10%;
    margin: 0 auto;
    height: 100%;
    width: 25%;
    border: 1px solid #494a4e;
    border-radius: 10px 0px 0px 10px;
    background: -webkit-linear-gradient(bottom, #444549 0%, #343539 100%);
    background: linear-gradient(#444549 0%, #343539 100%);
}

/*
.action-field {
    display: block;
    height: 60px;
    width: 100px;
    background:red;
    color:white;
    font-family:sans-serif;
    font-size:45px;
    text-decoration:none;
    text-align:center;
    transition:300ms;
    position: absolute;
    margin-top: 10px;
}
.action-field:hover {
    padding-right: 300px;
    border-right:3px solid black;
    transition:300ms;
    background:grey;
    font-family:sans-serif;
    text-decoration:none;
}
*/

/**********************************Menu 2***************************************/

/*Przed rozwinięciem*/
.nav-menu-button {
    box-shadow: inset 0 0 25px rgba(0,0,0,.5);
    border-bottom-right-radius: 20px;
    background-repeat: no-repeat;
    background-size: 60px auto;
    background-position: 30%;
    z-index: 1;
    position: relative;
    display: block;
    height: 90px;
    width: 98px;
    /*padding: 40px 20px 0px 20px;*/
    /*background: linear-gradient(#444549 0%, #343539 100%);*/
    float: left;
    margin-top: 1px;
    text-indent: -500px;!important;
    overflow: hidden;
    -webkit-transition:
            background 0.25s ease-in-out 0.5s,
            width 0.25s ease-in-out 0.25s,
            height 0.25s ease-in-out 0.25s,
            text-indent 0.25s ease-in-out 0.25s,
            padding-top 0.25s ease-in-out 0s;
    -moz-transition:
            background 0.25s ease-in-out 0.5s,
            width 0.25s ease-in-out 0.25s,
            height 0.25s ease-in-out 0.25s,
            text-indent 0.25s ease-in-out 0.25s,
            padding-top 0.25s ease-in-out 0s;
    transition:
            background 0.25s ease-in-out 0.5s,
            width 0.25s ease-in-out 0.25s,
            height 0.25s ease-in-out 0.25s,
            text-indent 0.25s ease-in-out 0.25s,
            padding-top 0.25s ease-in-out 0s;
    cursor: pointer;
}
.nav-menu-button:hover,

    /*Po rozwinięciu*/
.nav-menu-button:focus {
    background: rgba(255, 255, 255, 0.85);
    background-repeat: no-repeat; !important;
    background-size: 65px auto;
    background-position: 5%;
    width: 500%;
    height: 186px;
    text-indent: 0px;
    -webkit-transition:
            background 0.25s ease-in-out 0s,
            width 0.25s ease-in-out 0.25s,
            height 0.25s ease-in-out 0.25s,
            text-indent 0.25s ease-in-out 0s,
            padding-top 0.25s ease-in-out 0.5s;
    -moz-transition:
            background 0.25s ease-in-out 0s,
            width 0.25s ease-in-out 0.25s,
            height 0.25s ease-in-out 0.25s,
            text-indent 0.25s ease-in-out 0s,
            padding-top 0.25s ease-in-out 0.5s;
    transition:
            background 0.25s ease-in-out 0s,
            width 0.25s ease-in-out 0.25s,
            height 0.25s ease-in-out 0.25s,
            text-indent 0.25s ease-in-out 0s,
            padding-top 0.25s ease-in-out 0.5s;
}
.nav-menu-button:hover a,
.nav-menu-button:focus a{
    cursor: pointer;

}
.nav-menu-button a {
    color: #888;
    background: rgba(0, 0, 0, 0.0);
    text-decoration: none;
    /*Szerokość icony w rozwiniętym menu*/
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-menu-button a:hover,
.nav-menu-button a:focus {
    color: #333;
    /*Szerokość icony w rozwiniętym menu po najechaniu*/
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 40px;
}
.nav-menu-button a.active {
    color: #333;
    /*Szerokość icony w rozwiniętym menu po aktywacji*/
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
}



/******************************************************************************/
.game-box {
    background-image: url("../../images/game-bg.png");
    background-size: 100% 100%;
    width: 65%;
    height: 100%;
    box-shadow: inset 0 0 25px rgba(0,0,0,.5);
    border: 1px solid #494a4e;
    text-align: center;
    float: left;
}

.game-box > ul {
    list-style-type: none;
}

.game-box > ul > li {

}

.game-box > ul > li > img {
    width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h.title {
    font-family: "Comic Sans MS";
    font-size: x-large;
    font-weight: bold;
}

.game-container {
    float: left;
    width: 1000px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

hr.breke-line {
    border-top: 3px solid #3f87a6;
    height: 0;
    box-sizing: border-box;
    max-width: 42rem;
}


    #showChart{
        background-color: #5bb85b;
        color: #ffffff;
        padding: 10px;
        border: 0px;
        border-radius: 8px;
        font-size: 18px;
        outline: none;
        cursor: pointer;
    } 
    #container{
        position: fixed;
        top: 50%;
        width:100%;
        text-align: center;
        margin-top: -41px;
    }

/*Wskaźnik zadowolenia*/
input {
    margin-left: 0 ;
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
    text-align: center;
    font-size:1.06em;
    width: 200px;
    background-color: #9da0a8;
    border-color: black;
}

.ng-isolate-scope {
    padding: 0px;
    margin: 0 auto;
    height: 100px;
    width: 200px;
}

table.action-table {
    float: right;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

table.action-table tr th {
    width: 120px;
}

table.action-table tr td {
    font-size: small;
    text-align: center;
}

table.action-table tr td a img {
    width: 70px;
    height: 70px;
}

#buff {
    color: green;
    font-weight: bold;
}

#debuff {
    color: red;
    font-weight: bold;
}

#menu-tekst {
    width: 96px;
    text-align: center;
    font-family: 'Courier New';
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    margin: 0px;
    border-bottom: solid #494a4e;
}

#gauge-container {
    box-shadow: inset 0 0 25px rgba(0,0,0,.5);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}
#stats-tekst {
    font-family: 'Courier New';
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
    padding: 2px;
}

#performed-actions-container {
    float: right;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    width: 1000px;
    margin-bottom: 200px;
    box-shadow: inset 0 0 25px rgba(0,0,0,.5);
    border: 1px solid #494a4e;
    border-radius: 10px 10px 10px 10px;
    background: -webkit-linear-gradient(bottom, #444549 0%, #343539 100%);
    background: linear-gradient(#444549 0%, #343539 100%);
}

#action-in-progress {
    background-color: #585858;
    margin-left: 15px;
    margin-top: 12px;
    opacity: 1;
    width: 100px;
    height: 100px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5);
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

#action-in-progress img {
    width: 30px;
    height: auto;
    float: right;
}

#action-in-progress-time {
    min-width: 70px;
    text-align: center;
    margin-top: 40%;
    margin-right: 15%;
    color: green;
    float: right;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#action-in-progress-time h {
    color: green;
    font-size: larger;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


#position-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}