body {
    height: 100vh;
    width: 100%;
    background: #00a896;
    margin: 0;
    padding: 0;
}

.left-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 250px;
    background: #02c39a;
    margin: 0;
    padding: 0;
}

.left-menu ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.left-menu li {
    margin: 30px auto;
}

.left-menu ul li a {
    font-weight: 100;
    font-size: 16px;
    color: #082213;
    text-decoration: none;
    margin: 0px 15px;
    text-transform: uppercase;
}

.left-menu ul li a:hover {
    color: #fff;
}

#nav-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

#nav-icon span {
    font-size: 42px;
    color: #2A3D45;
}