
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bg_loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 98;
}

.bg_white {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: white;
    margin: -20px;
    opacity: 0.5;

}

#preloaderek{
    visibility: hidden;
}

