
/* CSS WORM */

.logo-container {
    width: 500px;
    height: 100px;
}

/* resize images */
.logo-container img {
    width: 100px;
    height: auto;
}

<!---->
<!---->

h166
{
    margin: 5px 2px 0 5px;
    color: red;
    font-size: large;
    font-weight: bold;
    text-align: left;
}

hlogo
{
    color: #E9967A;
    font-family: "Cooper Black";
    font-size: 82px;
    font-weight: bold;
    text-align: left;
    text-align: center;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}


hlogo-menu
{
    color: #E9967A;
    font-family: "Cooper Black";
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    text-align: center;
}
<!---->
.bg-worm {
    background-color: #343a40 !important;
    background-image: url("../../images/DIRTBG.jpg");
    background-size: contain;
}

.login-game-form {
    background: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 20px;
    border-style: solid;
}

.worm-login-content {
    max-width: 540px;
    margin: 8vh auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}


