div.worm-main-container {
    background-image: url("../../images/game-bg.png");
    background-size: contain;
    background-color: blue;
    width: 900px;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

div.game-menu1 {
    background: lightblue;
    height: 70px;
    width: 500px;
    position: relative;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-wrap: wrap;
}




div.game-menu1 img {
    height: 70px;
}

div.game-menu2 {
    height: 80px;
    width: 310px;
    position: relative;
    margin-top: 20px;
}

div.game-menu3 {
    height: 80px;
    width: 80px;
    position: relative;
    margin-top: 10px;
    z-index: 1;
}

div.game-menu4 {
    background: greenyellow;
    height: 150px;
    width: 200px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: -40%;
    text-align:center;
}
div.game-menu5 {
    background: white;
    height: 300px;
    width: 500px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: 50px;
    text-align:center;
    vertical-align:middle;
}

.game-menu5 image {
    margin: 0 auto;
}

div.game-lifebox {
    background: lightblue;
    height: 70px;
    width: 150px;
    position: relative;
    margin: 0px;
    text-align:center;
}

div.game-cushinessbox {
    background: lightblue;
    height: 70px;
    width: 150px;
    position: relative;
    margin: 0px;
    text-align:center;
}

div.game-hungrybox {
    background: lightblue;
    height: 70px;
    width: 150px;
    position: relative;
    margin: 0px;
    text-align:center;
}


/***************************STARE MENU***************************************/
/*
ul-game-menu {
    padding: 0px;
    list-style: none;
    font-family: Arial;
    color: white;
    margin: auto;
}

ul-game-menu li {
    float: right;
    width: 90px;
    height: 80px;

    opacity: .8;
    line-height: 80px;
    text-align: center;

    margin: 0;
}

ul-game-menu a {
    text-decoration: none;
    color: white;
    display: block;
}

ul-game-menu a:hover {
    background-color: whitesmoke;
    border-top-style: solid

}

ul-game-menu li ul li {
    display: none;
}

ul-game-menu li:hover ul li {
    display: block;
}
*/
/* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */

/* usunięcie domyślnych właściwości CSS z elementów - ol - oraz - ul */
#game-menu, #game-menu ul, #game-menu ol {
    list-style-type:none;
    padding:0;
    margin:0;
}

/* wygląd głównego elementu - ol */
#game-menu {
    font-family: Arial;
    margin: auto;
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
#game-menu a {
    display:block;
    text-decoration:none;
    /*color: white;*/
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
#game-menu > li {
    float:left;
    height: 60px;
    width: auto;
    opacity: .8;
    margin-left:1px;
}

/* wygląd elementu - li - pierwszego dziecka elementu - ol */
#game-menu > li:first-child {
    margin-left:0;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
#game-menu > li:hover {
    /*background-color:#EEE;*/
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#game-menu > li:hover > a {
    color:#09C;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#game-menu > li:hover > ul {
    display:block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-1----------------------- */

/* wygląd głównych rozwijanych elementów - ul */
#game-menu > li > ul {
    display:none;
}

/* wygląd elementu - li - w części rozwijanej */
#game-menu > li > ul > li {
    position:relative;
    background-color: white;
    opacity: .8;
}

/* wygląd elementu - a - w części rozwijanej */
#game-menu > li > ul > li > a {
    border-top:1px solid #FFF;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
#game-menu > li > ul > li:hover {
    background-color: white;
    opacity: 2;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

#game-menu > li > ul > li:active {
    background-color: ghostwhite;
    opacity: 1;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
#game-menu > li > ul > li:hover > a {
    color:#09C;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-2----------------------- */

/* wygląd głównego elementu - ol - w drugiej części rozwijanej */
#game-menu > li > ul > li > ol {
    display:none;
    position:absolute;
    right:100%;
    margin-top: -60px;
    margin-right: 4px;
}

/* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
#game-menu > li > ul > li:hover > ol {
    display:block;
}

/* wygląd elementów - li - w drugiej części rozwijanej */
#game-menu > li > ul > li > ol > li {
    background-color:#CCC;
    width: 80px;
    height: 60px;
    opacity: .8;
    line-height: 60px;
    right: 100%;
}

/* wygląd elementów - a - w drugiej części rozwijanej */
#game-menu > li > ul > li > ol > li > a {
    border-top:1px solid #FFF;
    border-left:1px solid #FFF;
}

/* wygląd elementu - a - w drugiej części rozwijanej, po najechaniu kursorem myszki */

#game-menu > li > ul > li > ol > li > a:hover {
    color: black;
}

/* ------------------------WSPÓLNE----------------------- */

/* zaokrąglone rogi wszystkich elementów - li - oraz - a */
#game-menu li, ol a {
    border-radius:6px;
}

#a-stats {
    font-style: normal;
    font-family: Arial;
    font-weight: bold;
    font-size: x-large;
    vertical-align:middle;
}

#game-table {

}

#game-table td {
    background-color: red;
    opacity: .5;
    border: orange solid;

}